<nav class="navbar mynavbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img src="/images/TheFandomNetwork.png" alt="TheFandomNetwork" height="60px"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><form><a href="#" class="pull-right btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#login-modal" style= "margin-right: 10px">Login</a></form></li>

        <li><form><a href="#" class="pull-right btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#register-modal" >Register</a></form></li>
      </ul>
    </div>
  </div>
</nav>
<div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              
                <li class="sidebar-brand">
                    <a href="#">
                       User Name
                    </a>
                <li>
                    <a href="#">Your Fandoms</a>
                </li>
                <li>
                    <a href="#">Your Friends</a>
                </li>
                <li>
                    <a href="#">Upcomming Events</a>
                </li>
                <li>
                    <a href="#">Find Fandoms</a>
                </li>
            </ul>
        </div>
      </div>
