
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="well">

</div>
<div class="container">
	<div class="row">

		<div class="card-deck">
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		</div>

	</div>

	<br>

	<div class="row">

		<div class="card-deck">
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		</div>

	</div>

</div>