

     

        <!-- /#sidebar-wrapper -->
        <!-- <div class="well" id="notif">
        	
        </div> -->
        <div class="alert alert-success" role="alert" id="notif">
			  <h4 class="alert-heading">Well done!</h4>
			  You successfully read this important alert message.
			</div>
<div class="container">
	<div class="row">

		<div class="card-deck">
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		</div>

	</div>

	<br>

	<div class="row">

		<div class="card-deck">
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-block">
		      <h4 class="card-title well"><img src="http://systemout.net/images/Gravatar-icon.png" height="40px"> Poster Name</h4>
		      <p class="card-text">This is where the post Content will be</p>
		    </div>
		  </div>
		</div>

	</div>

</div>