.mynavbar-inverse{
	background-image: linear-gradient(to bottom,#ff1a1a 0,#222 100%);
}
.mynavbar-brand, .navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(153, 255, 102, .25);
}
.mynavbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
a.mynavbar-brand{
	color: #99ff66;
  text-decoration: none;
}